<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>yardsale</servlet-name>
		<servlet-class>com.focaplo.mylocal.yardsaleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>blobdataservlet</servlet-name>
		<servlet-class>com.focaplo.mylocal.BlobDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IconImageResizeServlet</servlet-name>
		<servlet-class>com.focaplo.mylocal.IconImageResizeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IconImageResizeSuccessServlet</servlet-name>
		<servlet-class>com.focaplo.mylocal.IconImageResizeSuccessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>yardsale</servlet-name>
		<url-pattern>/yardsale</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>blobdataservlet</servlet-name>
		<url-pattern>/BlobDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IconImageResizeServlet</servlet-name>
		<url-pattern>/IconImageResizeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IconImageResizeSuccessServlet</servlet-name>
		<url-pattern>/IconImageResizeSuccessServlet</url-pattern>
	</servlet-mapping>
</web-app>
